/* fonts */
/* variables */
:root{
    --hue: 200;
    --saturation: 70%;
    --lightness: 50%;
    --main-color: hsl(--var(--hue), var(--saturation), var(--lightness));

    /* text colors */
    --text-white: hsl(0, 0%, 100%);
    --text-light-gray: hsl(0, 0%, 96%);
    --text-x-dark-gray: hsl(0, 0%, 10%);
    --text-dark-gray: hsl(0, 0%, 20%);

    /* bg colors */
    --body-bg-color: hsl(var(--hue), 60%, 94%);
    --bg-color: hsl(var(--hue), 60%, 96%);
    --bg-white: hsl(0, 0%, 100%);

    /* border color */
    --border-color: hsl(var(--hue), 48%, 80%);

    /* shadow */
    --shadow: 0 0 10px hsla(var(--hue), 57%, 63%, 0.3);
    --focus-shadow: 0 0 10px hsla(var(--hue), 57%, 63%, 0.6);

    /* font size */
    --fs-4xl: 50px;
    --fs-3xl: 35px;
    --fs-2xl: 26px;
    --fs-xl: 20px;
    --fs-lg: 18px;
    --fs-md: 16px;
    --fs-sm: 14px;
}
/* base */
/* page wrapper */
/* container */
/* grid */
/* section */
/* buttons */
/* forms */
/* preloader */
/* header */
/* home */
/* about */
/* team */
/* contact */
/* footer */
/* responsive */    